# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
clean_df = pd.read_csv("City_Data")
clean_df = clean_df.drop("Unnamed: 0", axis=1)

clean_df.head()

,Cities,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date
0,busselton,-33.65,115.33,64.99,95,1.99,100,AU,1588560254
1,roald,62.58,6.13,39.99,74,3.36,72,NO,1588560255
2,boa vista,2.82,-60.67,77.00,88,5.82,20,BR,1588560256
3,wanning,18.80,110.40,86.07,68,13.71,1,CN,1588560257
4,albany,42.60,-73.97,69.80,37,13.87,75,US,1588560051

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Store latitude and longitude in locations
locations = clean_df[["Lat", "Lng"]]

#Store Humidity in weight
weight = clean_df["Humidity"].astype(float)
weight

0      95.0
1      74.0
2      88.0
3      68.0
4      37.0
       ...
500    80.0
501    51.0
502    93.0
503    93.0
504    48.0
Name: Humidity, Length: 505, dtype: float64

In [5]:
fig = gmaps.figure(map_type = "HYBRID")

heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=20,
                                 point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
mask1 = (clean_df["Max Temp"] >= 75) & (clean_df["Max Temp"] <= 95)
mask2 = clean_df["Wind Speed"] <= 17
mask3 = clean_df.Cloudiness < 20
mask4 = mask1 & mask2 & mask3

#temps = clean_df.loc[mask1]
#wind = clean_df.loc[mask2]
#clouds = clean_df.loc[mask3]

clean_df.loc[mask4].reset_index(drop=True)

,Cities,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date
0,wanning,18.80,110.40,86.07,68,13.71,1,CN,1588560257
1,bhadrachalam,17.67,80.88,90.70,53,7.07,14,IN,1588560262
2,acapulco,16.86,-99.89,78.80,88,7.40,5,MX,1588559967
3,dimapur,25.90,93.73,85.35,54,0.43,6,IN,1588560278
4,narayangarh,30.48,77.13,83.43,44,3.83,1,IN,1588560304
5,sao filipe,14.90,-24.50,75.96,65,12.95,0,CV,1588560327
6,pitimbu,-7.47,-34.81,77.00,94,6.93,3,BR,1588560329
7,puerto ayora,-0.74,-90.35,77.00,92,1.01,7,EC,1588560353
8,faanui,-16.48,-151.75,82.42,77,12.48,0,PF,1588560122
9,carnarvon,-24.87,113.63,75.20,83,6.93,0,AU,1588560128
10,tiarei,-17.53,-149.33,87.80,66,3.36,3,PF,1588560369
11,alofi,-19.06,-169.92,82.40,78,5.82,0,NU,1588560408
12,vaitape,-16.52,-151.75,83.30,77,12.66,1,PF,1588560417
13,labuhan,-6.88,112.21,85.12,69,6.13,0,ID,1588560446
14,victoria,22.29,114.16,86.00,70,4.00,4,HK,1588560367
15,yanam,16.73,82.22,91.08,56,4.32,4,IN,1588560478
16,farrukhnagar,17.08,78.20,86.00,62,5.82,1,IN,1588560496
17,wichita falls,33.91,-98.49,82.40,69,9.17,1,US,1588560447
18,sur,22.57,59.53,89.89,46,5.57,0,OM,1588560526
19,bayshore gardens,27.43,-82.59,75.00,73,4.70,1,US,1588560536
20,tura,25.52,90.22,83.50,54,1.90,0,IN,1588560551
21,manicore,-5.81,-61.30,78.80,94,1.12,0,BR,1588560570
22,padang,-0.95,100.35,87.22,59,4.41,0,ID,1588560573
23,boulsa,12.67,-0.58,90.97,39,10.51,13,BF,1588560591
24,dedougou,12.47,-3.47,88.84,45,7.36,0,BF,1588560629
25,yeppoon,-23.13,150.73,77.00,31,10.29,4,AU,1588560647
26,manthani,18.65,79.67,94.28,42,10.67,0,IN,1588560654
27,mackay,-21.15,149.20,77.00,44,14.99,0,AU,1588560611
28,saiha,22.48,92.97,82.15,46,3.04,0,IN,1588560699
29,soto la marina,23.77,-98.22,79.00,85,8.99,16,MX,1588560702
30,kolhapur,16.70,74.22,86.81,35,4.90,17,IN,1588560731
31,port blair,11.67,92.75,86.77,64,8.08,4,IN,1588560732
32,maine-soroa,13.21,12.02,76.77,54,3.42,6,NE,1588560761
33,evans,33.53,-82.13,77.00,44,4.70,1,US,1588560781
34,ler,8.30,30.14,79.39,50,4.14,10,SS,1588560808
35,kiri buru,22.08,85.35,90.16,45,3.80,14,IN,1588560887
36,bac lieu,9.29,105.72,89.10,59,7.61,7,VN,1588560889
37,seoul,37.57,126.98,75.20,57,9.35,1,KR,1588560642
38,champerico,14.30,-91.92,85.21,71,5.32,6,GT,1588560922
39,manga,11.66,-1.07,87.48,49,13.49,7,BF,1588560954
40,namibe,-15.20,12.15,75.83,59,5.21,0,AO,1588560958

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = clean_df.copy()
hotel_df.head()

,Cities,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date
0,busselton,-33.65,115.33,64.99,95,1.99,100,AU,1588560254
1,roald,62.58,6.13,39.99,74,3.36,72,NO,1588560255
2,boa vista,2.82,-60.67,77.00,88,5.82,20,BR,1588560256
3,wanning,18.80,110.40,86.07,68,13.71,1,CN,1588560257
4,albany,42.60,-73.97,69.80,37,13.87,75,US,1588560051

In [8]:
# geocoordinates
lat = clean_df["Lat"][0]
lng = clean_df["Lng"][0]
target_coordinates = f"{lat}, {lng}"
#target_search = "Chinese"
target_radius = 5000
target_type = "hotel"
target_keyword = "hotel"


# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_keyword,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [9]:
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.65%2C+115.33&keyword=hotel&radius=5000&type=hotel&key=AIzaSyCetKV6CFKyvnY9bAQiQH_IVwu63HeB9GU

In [10]:
# convert response to json
places_data = response.json()
places_data["results"][0]

{'business_status': 'OPERATIONAL',
 'geometry': {'location': {'lat': -33.6596987, 'lng': 115.2788235},
  'viewport': {'northeast': {'lat': -33.65853472010727,
    'lng': 115.2801667798927},
   'southwest': {'lat': -33.66123437989271, 'lng': 115.2774671201073}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
 'id': 'ea0f2c5e7c48cb93a3bb04e0d109faf9d12ba720',
 'name': 'The Sebel Busselton',
 'opening_hours': {'open_now': False},
 'photos': [{'height': 768,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103673527597143610945">The Sebel Busselton</a>'],
   'photo_reference': 'CmRaAAAAIgBAz1X6f6ETN6kq0n2qWGsHLp_Z9Nt4atgRS8fqHOd_L8IJuXilU8tA2WjDwMO6dI0YYiZdyTIICC6jJY26naErfsYnaVo-5_C5AdWlBWNmcr2O7GbUeMU18_GrZOlPEhAx0LxHAii-dAKe3U6GWnmEGhTthb85MVRv2hmna6puyPz2Xti0lA',
   'width': 1024}],
 'place_id': 'ChIJ54UMu15HLioRCq9wHwVGago',
 'plus_code': {'compound_code': '87RH+4G Busselton, Western Australia, Australia',
  'global_code': '4PRQ87RH+4G'},
 'rating': 4.4,
 'reference': 'ChIJ54UMu15HLioRCq9wHwVGago',
 'scope': 'GOOGLE',
 'types': ['lodging', 'point_of_interest', 'establishment'],
 'user_ratings_total': 259,
 'vicinity': '553 Bussell Hwy, Busselton'}

In [11]:
hotel_names = []

params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request
    response2 = requests.get(base_url, params=params)

    # convert to json
    hotels = response2.json()
    
    try:
        hotel_names.append(hotels["results"][0]["name"])
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        hotel_names.append("")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [12]:
#add the Hotel Name column to df
hotel_names

['The Sebel Busselton',
 'Vestavind Hytter og Rom AS',
 'ibis Styles Boa Vista',
 'Huangqi Hotel',
 '',
 'Hotel Grand Chancellor Hobart',
 'Birkenhead House',
 'Srinidhi Residency',
 'Holiday Inn Express & Suites Klamath Falls Central',
 'Hotel Elcano Acapulco',
 'Hilton Garden Inn Kauai Wailua Bay',
 "Grands' Guesthouse",
 'Hotel La Yegua Loca',
 'Tarumã Tropical Hotel',
 'GoldenBay Hotel Bintulu',
 '',
 'The Rarotongan Beach Resort & Lagoonarium',
 'Hotel Punta León',
 "Pension Maro'i",
 'Bertelli Chuí Hotel',
 "Pinpin d'Amour",
 'Hampton Inn Havelock',
 'Paradise First Hotel',
 "Ha'apai Beach Resort",
 "Land's End Boutique Hotel",
 'Longitude 131',
 'Hilton Garden Inn Kalispell',
 'Hotel Aguiar',
 'Hotel Angmagssalik',
 'Holiday Inn Express & Suites West Plains Southwest',
 '',
 'Waiau Hotel',
 'Hotel New Amami',
 'Swiss Belhotel Manokwari',
 'Holiday Inn Express & Suites St. Joseph',
 'Pousada Rio',
 'Hotel Lake Shilloi',
 '',
 'Hotel Paris',
 'Gran Hotel San Cristóbal Suite',
 'Grand Naniloa Hotel Hilo - a DoubleTree by Hilton',
 'Kak Doma',
 'Embassy Beach',
 'Tateyama Seaside Hotel',
 '',
 "Hunter's B&B",
 "Ellie's Villa",
 'Hotel Meligai Kapit',
 '',
 'Hampton Inn Rawlins',
 '',
 'Eastern & Oriental Hotel, Penang',
 '',
 'Hotel Xaguate',
 'Pousada Beira Mar Pitimbu Paraíba',
 'Hoteles Pueblo Inn',
 'Simplicité Marquises',
 'Chautauqua Harbor Hotel',
 'Arktika',
 'Qaanaaq Hotel',
 'Tynwald Willow Bend Estate',
 'Top of the World Hotel',
 'Turkuaz Beach Otel',
 'Ocean Centre Hotel',
 'Advancetown Hotel',
 'Arita, viesu nams, Likra',
 'Quality Inn & Suites',
 'Tanna Ikamir Bungalows and Accommodation',
 'Hotel Solymar Galapagos',
 'The Explorer Hotel',
 'Hampton Inn Danbury',
 'Best Western Thompson Hotel & Suites',
 "Maison Vin d'Hus",
 'InterContinental Bora Bora Resort Thalasso Spa',
 '',
 'Coral Coast Tourist Park',
 'Round House',
 'Domaine de la Manse',
 'Los Cauquenes Resort & Spa',
 '',
 'Le Rocher de Tahiti',
 'Casa Rodo 53',
 'Lemon Tree Lane Guest House',
 'Hotel Playa El Cable',
 'Central Palace Hotel - Castro (PR)',
 '28 on Hoop',
 'Binjiang International Hotel',
 'A Villa by the Sea',
 'Embassy Suites by Hilton Lompoc Central Coast',
 'Hamption By Hilton Qujing',
 'Thon Hotel Sandven',
 '',
 'NUVO SUITES HOTEL',
 'OURE TERA beach resort',
 '',
 'Hotel Náutico de Paita',
 "Munitsipal'naya Gostinitsa",
 'Le Clos du silberthal',
 '',
 'Chateau MontPlaisir',
 'Solomon Kitano Mendana Hotel',
 'Hotel MOMBO Beach Owando',
 'Austral Hotel',
 'BreakFree on Cashel Christchurch',
 'Taloa Heights',
 'Hotel Nemuro Kaiyoutei',
 'สวนเกษตรอินทรีย์ รีสอร์ท BN Organic Farm Resort',
 'Scandic Mikkeli',
 '',
 'Atlanticview Cape Town Boutique Hotel',
 'Oa Oa Lodge',
 'NH Gran Hotel Provincial',
 'Residence Ophelia Lodge',
 'Sands Hotel Margate',
 'Port Lincoln Hotel',
 '',
 'Malekula Holiday Villas',
 'Scandic Eden Nokia',
 'ホテル＆スパ月美 太陽の里',
 'Katsuura Hilltop Hotel & Residence',
 'Casa Das Faias',
 'DoubleTree by Hilton Hotel Alice Springs',
 'Hotel Apacheta',
 '',
 'Blue Lagoon Hotel',
 'Hilton Port Moresby',
 'The Tongan Beach Resort',
 'DoubleTree by Hilton Hotel Sterling - Dulles Airport',
 'Hampton Inn by Hilton Timmins',
 '',
 'Hotel Castrum Villae',
 'Rosa Alba Resort - Tuy Hoa',
 'Hotel Plaza Lebu',
 'Royal Hotel',
 'Holiday Inn Express Winnemucca',
 'Orlanova Hotel',
 'Namatanai Hotel',
 'Guest House Orkhideya',
 'OYO 61641 Hotel Satyam Palace',
 'Hampton Inn & Suites Oahu/Kapolei',
 'Sofitel Legend Old Cataract Aswan',
 'Dorsett Mongkok, Hong Kong',
 'Tri Lyzhi',
 '',
 'La Case Floria',
 'Hotel Kanjirowa',
 'Belyye Berega',
 'Cree Village Eco Lodge',
 'Hotel Eclypse de Mar Acqua Lodge',
 'OYO 598 Peony Hotel',
 "L'oiseau de Paradis",
 'Tunka-350',
 'The Regency Hotel',
 'Magadan hotel',
 'Mehamn Arctic Hotel AS',
 '',
 'Chateau Madelinot',
 'Villa Maloka',
 'Polar Hotel',
 '',
 'Majestic Palace Hotel',
 'Hotel Bitoraj Fuzine',
 'Sri Raghavendra lodge',
 '',
 '',
 'Grand Avenue Bed & Breakfast',
 '',
 '',
 'Nino village',
 '',
 '',
 'Hotell Slottsbacken',
 'Eden Appartel Koné',
 '',
 'Casa Idìlica',
 'Embassy Suites by Hilton Nashville at Vanderbilt',
 'Aspen Suites Hotel Sitka',
 'Pullman Miri Waterfront',
 'Hotel Atlântico Rio Grande',
 'Kairos Cottage',
 '',
 'Maui Beach Hotel',
 '',
 'Courtyard by Marriott Wichita Falls',
 'Sur Plaza Hotel',
 'Hampton Inn & Suites Pittsburg',
 'Hotel Ñikén Spa & Business Center',
 'Hotel Kap Farvel',
 'Pacific Harbour Lodge',
 'The Celtic Manor Resort',
 'Pond Country Club',
 'Hilton Garden Inn Sarasota-Bradenton Airport',
 'Imagination Island',
 'Hotel Palacio Astoreca',
 'Kwathu Boutique Hotel',
 'Hotel Narsaq',
 'Buudai Hotel',
 'Courtyard by Marriott Chicago Southeast/Hammond, IN',
 'Cuilo River Hotel',
 'Hotel Indigo Traverse City',
 'Naujaaraaluit – Clyde River Hotel',
 "Chambre d'hôtes Porsmilin",
 'Hotel Bame Iran',
 'Halifax Marriott Harbourfront Hotel',
 'Hotel Polo Orchid',
 '',
 '',
 'Hotel Kajaani',
 'Hotel Arctic',
 'Hotel Villa Kitzia Huacho',
 '',
 'Molino del Corregidor',
 '',
 'Le Nathania',
 'Kashana, Omaruru, Namibia',
 'Senja hotel',
 'Pudong Holiday Hotel',
 'Mercadinho e Hotel Bombom',
 '',
 'Mercure Padang',
 'Hotel Mehmon Saroy',
 'The Grand Hotel Minneapolis',
 "Mary-Ann's Polarrigg",
 'Aston Palembang Hotel & Conference Center',
 'Courtyard by Marriott Casper',
 '',
 'SPOT ON 62141 Hotel Jaan',
 'Lakefront Lodge',
 'Icon Hotel',
 'Sheraton Santos Hotel',
 'Hotel Eyjar',
 '',
 'Thuraya Tourist Hotel',
 '',
 'Shelikof Lodge',
 'The Nantucket Hotel & Resort',
 'Flat Hotel La Benediction',
 'Gostinitsa Mup Zhkkh',
 'Salalah Gardens Hotel',
 'Cygnett Inn Trendz, Itanagar',
 'Hyatt Regency Monterey Hotel And Spa On Del Monte Golf Course',
 'Otel\' "Medvezh\'ye"',
 'MStar Hotel Kitimat',
 'Le Manoir du Meldick',
 '',
 'Pebbles Inn',
 'The Old Mount Gambier Gaol',
 'Hotel Varandas Do Atlantico',
 'บาซาเปาะแว',
 '',
 'Best Western Country Inn',
 'Milk Factory',
 'Hotel Loba',
 'Hotel Barra de Navidad',
 'Glynmill Inn',
 'The Leela Palace New Delhi, Modern Palace Luxury Hotel',
 'Hattusa Vacation Thermal Club Erzin',
 'Pousada Pura Vida Club Brasil',
 'Codrington Gardens Bed And Breakfast',
 'Sundog Inn',
 'Grand Hotel President',
 'Seeadler Bay Hotel',
 '',
 'Hotel Bukit Indah Lestari',
 'A1Hotel',
 'Villa Del Palmar Beach Resort & Spa Cabo San Lucas',
 'BON Hotel Waterfront Richards Bay',
 'Oshen Apartments Yeppoon',
 '',
 'Hotel Datuki',
 'Marawi Resort Hotel',
 'Fortuna',
 'Detinha Hotel',
 '',
 'Dreamland Beach Holiday',
 '',
 "River's Edge Hotel",
 'Café de Upernavik',
 'Gostinitsa "Medvezhiy Ugol"',
 'The Maxton Boutique Hotel Upington',
 'Praia do Sal Resort',
 'London House',
 'The Anchorage Port Stephens Hotel & Spa',
 'Guo Bin Hotel',
 'Gostinitsa Alrosa',
 'Sofía Soberana Hotel Boutique',
 'Beach Hotel Burnie',
 'Ocean International Hotel',
 'Pousada do Cabeça',
 'Liduina Guest House',
 '',
 'Hotel Casagrande',
 'Jeanne Hotel',
 'Ofunato Hot Spring',
 '',
 "Eileen's Bed & Breakfast - Guest House",
 'East Lake International Hotel',
 '',
 '',
 'Lai Tlang Hotel',
 'The Ritz-Carlton, Half Moon Bay',
 'Hotel Los Generales INN',
 'Gostinitsa "Shchara"',
 'Gostinitsa Zarya',
 'Campsite Orlan',
 '',
 '',
 '',
 'Brae Hotel',
 'Pullman Kinshasa Grand Hotel',
 'Wulingcheng Hotel',
 'فندق بنيه تحتيه',
 'Utpå Neset ANS',
 'Gostinitsa Kedr',
 'Franziskaner am Markt',
 'Direct Hotels - Monterey Moranbah',
 'Emerald Executive Apartments',
 'Hotel Miramar',
 'Best Western Plus Guymon Hotel & Suites',
 '',
 'Hilton Garden Inn Sacramento Elk Grove',
 'Resort le Axidie',
 'Sayaji Hotel, Kolhapur',
 'Crown Victoria Hotel',
 'Grand Hotel',
 '',
 'Seaview Calodyne Lifestyle Resort',
 'Heritage Hotel',
 'SeaShell Port Blair',
 'The Harbour Inn',
 '',
 'Palanca Hotel',
 'Khwee Sands Lodge',
 'Hotel Los Caracoles',
 'Nyuksenburg Hotel',
 'ROYAL HOTEL TCHAMBA',
 '',
 '',
 '',
 'Bishamon house - traditional Japanese guesthouse Kyoto',
 'Kish Mehr Hotel',
 '',
 '',
 'Hampton Inn & Suites Fairbanks',
 '',
 'H10 Las Palmeras',
 '',
 'Mr.KINJO 宮古島 パイナガマリゾート',
 'Elements Of Byron Resort & Spa',
 'Hampton Inn & Suites Green River',
 'Pousada Liberdade',
 'Best Western Plus Hotell Savoy',
 'Desert Gat',
 'Hotel isabella',
 'almasa hotel',
 'DoubleTree by Hilton Hotel Augusta',
 'Pensiunea Sophia',
 '',
 'Patagonia House',
 'Pechora Gostinitsa',
 'North i Hotel',
 '',
 'Balihai Bungalows',
 'Solikamsk',
 '',
 '',
 'Hotel Austral Viedma',
 'POUSADA E RESTAURANTE BARBOSA',
 'Hotel Appel',
 'فندق تاج سبأ',
 'Bismillah Hotel And Lodging',
 '',
 'Vale do Aporé Hotel',
 '',
 'Frobisher Inn',
 'Hotel Psidia',
 '',
 'Hotel Brisas Del Río Caquetá',
 'Quality Hotel Bodensia',
 'Blue Bay Lodge',
 'Lodge des Terres Blanches',
 'Banana Bank Horses & Belize Jungle Lodge',
 '',
 '',
 'Hotel Nordkyn',
 'The Colliefields',
 '',
 'Hotel King Star',
 'Profilaktoriy Baes',
 'Hotel Hans Egede',
 'Hotel Tatyana',
 'The Plettenberg Hotel',
 "Charme Hotel Henry's House / Hotel Ortigia",
 'Mercure Bengkulu',
 'Luhe Yaju Hotel',
 'Lakeview Hotel Motel',
 'Crawfords Guest House',
 'Oceanside Cabins',
 'Hotel ONANGA Ouesso',
 'Cactus Hotel',
 'Samuels Hotel',
 'Mount Edgecombe Plantation',
 'LUSINDA HOTEL',
 'Split Old Town Suites',
 'Hyatt Regency Cartagena',
 'Holiday Inn Express Deer Lake',
 'Scandic Leknes Lofoten Hotel',
 'The Sebel Mandurah',
 'Gostinitsa Mila',
 'Bar B Motel',
 'Apart Hotel La Fuente',
 '',
 'Tayga, Gostinitsa',
 'Courtyard by Marriott St. Louis West County',
 'ParrotFish Bay',
 '',
 'Courtyard by Marriott San Ramon',
 'Resort Hotel-Rc',
 '',
 'Taj on Byrnes Mareeba Luxury Accommodation',
 'Glen Lyon Inn',
 '',
 'Toraja Heritage Hotel',
 'State Department of Health',
 'Nasuke GUEST House',
 'The Inn At Schofield',
 'Brøndums Hotel',
 'Lærdalsørens HOTEL',
 'Hotel La Muradana',
 'Hotel "Your home-Balzer"',
 'Hotel Aadhar',
 'Hotel Royal',
 'Zhemchug',
 'Hotel Riu Plaza Panamá',
 'Brasiléia Palace Hotel',
 'Hotel Du Havre',
 'Polana Serena Hotel',
 'DoubleTree by Hilton Hotel Missoula - Edgewater',
 'Hotel Da Vila',
 'Cheromushki',
 'Hotel Delice Du Haut Nyong',
 '',
 'Nuli Sapi',
 'Nine Tree Premier Hotel Myeongdong II',
 '',
 'Floresta Amazonica Hotel',
 'Hotel Zoya Beach & Sun',
 'AmericInn by Wyndham Cody',
 'Gostevoy Dom "Brusnika"',
 '',
 '',
 'REER XOOSHLE GROUP',
 'Pousada Ayshawa',
 'Nusa Island Retreat',
 'Hotel Francia',
 'فندق علي',
 'Hotel y restaurante "El Diamante"',
 'Fosshotel Húsavík',
 'Gostinitsa V Kose',
 'Windswept Motel',
 'Western Star Hotel',
 'Bay Breeze Motel',
 '',
 'Hotel Concha do Mar',
 'Ulvesund FYR',
 'HOTEL PALACIO PUJADAS',
 'Hôtel Riad Asfi',
 '',
 '',
 'Hotel Hacienda de Abajo',
 '',
 '',
 'Hôtel Matagami',
 'Mar Guesthouse',
 'Southern Lodge & Suites',
 'Salsedine',
 'JOYAU CACHÉ',
 'Smarthotel Hammerfest',
 'Villa Verde',
 'Hôtel POULOUMDE',
 '',
 '',
 'Hotel ibis Styles Iu Namibe',
 'فندق ترحاب',
 'SpringHill Suites by Marriott Fairbanks',
 '',
 'Hotel Halley',
 'Hotel MALL Santana del RIO',
 'Nouackchott Hotel',
 'Otel Murat',
 'Aer Hotel',
 'Hancilar Hotel',
 "Valériu's Palace Hotel",
 'Holiday Inn Express & Suites Great Bend',
 'Holiday Inn Express Southampton - West',
 'AEROSLEEP Capsule Hotel',
 'Hotel North Pearl',
 "Villa di l'Abbiu",
 'Flamingo Vallarta Hotel & Marina',
 'Holiday Inn Express Chifeng Hongshan',
 'Paraíso Beach Hotel',
 '',
 'Springfields Hotel',
 'Villa Inn & Suites',
 'Tru by Hilton North Platte']

In [13]:
hotel_df["Hotel Name"] = hotel_names
hotel_df

,Cities,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date,Hotel Name
0,busselton,-33.65,115.33,64.99,95,1.99,100,AU,1588560254,The Sebel Busselton
1,roald,62.58,6.13,39.99,74,3.36,72,NO,1588560255,Vestavind Hytter og Rom AS
2,boa vista,2.82,-60.67,77.00,88,5.82,20,BR,1588560256,ibis Styles Boa Vista
3,wanning,18.80,110.40,86.07,68,13.71,1,CN,1588560257,Huangqi Hotel
4,albany,42.60,-73.97,69.80,37,13.87,75,US,1588560051,
...,...,...,...,...,...,...,...,...,...,...
500,corn island,12.17,-83.04,81.19,80,14.32,89,NI,1588560979,Paraíso Beach Hotel
501,ouadda,8.08,22.40,70.70,51,2.73,27,CF,1588560980,
502,horsham,51.06,-0.33,51.01,93,4.70,75,GB,1588560981,Springfields Hotel
503,hearst,49.68,-83.67,25.09,93,9.17,100,CA,1588560916,Villa Inn & Suites
504,north platte,41.12,-100.77,66.20,48,10.29,90,US,1588560696,Tru by Hilton North Platte

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{Cities}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [23]:
# Add marker layer ontop of heat map
fig = gmaps.figure(map_type = "HYBRID")

coordinates = hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(coordinates, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))