# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
clean_df = pd.read_csv("City_Data")
clean_df = clean_df.drop("Unnamed: 0", axis=1)

clean_df.head()

,Cities,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date
0,busselton,-33.65,115.33,64.99,95,1.99,100,AU,1588560254
1,roald,62.58,6.13,39.99,74,3.36,72,NO,1588560255
2,boa vista,2.82,-60.67,77.00,88,5.82,20,BR,1588560256
3,wanning,18.80,110.40,86.07,68,13.71,1,CN,1588560257
4,albany,42.60,-73.97,69.80,37,13.87,75,US,1588560051

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [15]:
# Store latitude and longitude in locations
locations = clean_df[["Lat", "Lng"]]

#Store Humidity in weight
weight = clean_df["Humidity"].astype(float)
weight

0      95.0
1      74.0
2      88.0
3      68.0
4      37.0
       ...
500    80.0
501    51.0
502    93.0
503    93.0
504    48.0
Name: Humidity, Length: 505, dtype: float64

In [27]:
fig = gmaps.figure(map_type = "HYBRID")

heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=20,
                                 point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [44]:
mask1 = (clean_df["Max Temp"] >= 75) & (clean_df["Max Temp"] <= 95)
mask2 = clean_df["Wind Speed"] <= 17
mask3 = clean_df.Cloudiness < 20
mask4 = mask1 & mask2 & mask3

#temps = clean_df.loc[mask1]
#wind = clean_df.loc[mask2]
#clouds = clean_df.loc[mask3]

clean_df.loc[mask4].reset_index(drop=True)

,Cities,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date
0,wanning,18.80,110.40,86.07,68,13.71,1,CN,1588560257
1,bhadrachalam,17.67,80.88,90.70,53,7.07,14,IN,1588560262
2,acapulco,16.86,-99.89,78.80,88,7.40,5,MX,1588559967
3,dimapur,25.90,93.73,85.35,54,0.43,6,IN,1588560278
4,narayangarh,30.48,77.13,83.43,44,3.83,1,IN,1588560304
5,sao filipe,14.90,-24.50,75.96,65,12.95,0,CV,1588560327
6,pitimbu,-7.47,-34.81,77.00,94,6.93,3,BR,1588560329
7,puerto ayora,-0.74,-90.35,77.00,92,1.01,7,EC,1588560353
8,faanui,-16.48,-151.75,82.42,77,12.48,0,PF,1588560122
9,carnarvon,-24.87,113.63,75.20,83,6.93,0,AU,1588560128
10,tiarei,-17.53,-149.33,87.80,66,3.36,3,PF,1588560369
11,alofi,-19.06,-169.92,82.40,78,5.82,0,NU,1588560408
12,vaitape,-16.52,-151.75,83.30,77,12.66,1,PF,1588560417
13,labuhan,-6.88,112.21,85.12,69,6.13,0,ID,1588560446
14,victoria,22.29,114.16,86.00,70,4.00,4,HK,1588560367
15,yanam,16.73,82.22,91.08,56,4.32,4,IN,1588560478
16,farrukhnagar,17.08,78.20,86.00,62,5.82,1,IN,1588560496
17,wichita falls,33.91,-98.49,82.40,69,9.17,1,US,1588560447
18,sur,22.57,59.53,89.89,46,5.57,0,OM,1588560526
19,bayshore gardens,27.43,-82.59,75.00,73,4.70,1,US,1588560536
20,tura,25.52,90.22,83.50,54,1.90,0,IN,1588560551
21,manicore,-5.81,-61.30,78.80,94,1.12,0,BR,1588560570
22,padang,-0.95,100.35,87.22,59,4.41,0,ID,1588560573
23,boulsa,12.67,-0.58,90.97,39,10.51,13,BF,1588560591
24,dedougou,12.47,-3.47,88.84,45,7.36,0,BF,1588560629
25,yeppoon,-23.13,150.73,77.00,31,10.29,4,AU,1588560647
26,manthani,18.65,79.67,94.28,42,10.67,0,IN,1588560654
27,mackay,-21.15,149.20,77.00,44,14.99,0,AU,1588560611
28,saiha,22.48,92.97,82.15,46,3.04,0,IN,1588560699
29,soto la marina,23.77,-98.22,79.00,85,8.99,16,MX,1588560702
30,kolhapur,16.70,74.22,86.81,35,4.90,17,IN,1588560731
31,port blair,11.67,92.75,86.77,64,8.08,4,IN,1588560732
32,maine-soroa,13.21,12.02,76.77,54,3.42,6,NE,1588560761
33,evans,33.53,-82.13,77.00,44,4.70,1,US,1588560781
34,ler,8.30,30.14,79.39,50,4.14,10,SS,1588560808
35,kiri buru,22.08,85.35,90.16,45,3.80,14,IN,1588560887
36,bac lieu,9.29,105.72,89.10,59,7.61,7,VN,1588560889
37,seoul,37.57,126.98,75.20,57,9.35,1,KR,1588560642
38,champerico,14.30,-91.92,85.21,71,5.32,6,GT,1588560922
39,manga,11.66,-1.07,87.48,49,13.49,7,BF,1588560954
40,namibe,-15.20,12.15,75.83,59,5.21,0,AO,1588560958

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure